:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
}

* {
  /* font-smooth: always; */
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  shape-rendering: geometricPrecision;
}

html,
body,
#root {
  -webkit-overflow-scrolling: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
  font-size: 14px;
}

/*
 * Remove the flash/blink when items are selected on touch devices
 * @see https://stackoverflow.com/questions/8990442/is-there-a-way-to-disable-the-flash-blink-on-the-ipad-iphone-when-an-onclick-is
 */
 body * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  transition: color 400ms, background-color 400ms, opacity 400ms;
}

code {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: italic;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.snapping {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  flex-basis: 50%;
  max-height: 100vh;
  scroll-padding: 0;
}

.snapping > div,
.snapping > header {
  scroll-snap-align: start;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  .snapping {
      scroll-snap-type: none;
  }
}
