/**
 * Extending Tailwind with custom utilities
 * Includes: Aspect Ratio, Blur, Gradient BG, Image BG, Text Stroke
 */

/* Creates responsive classes for each custom utlity */
/* Creates hover, focus, active pseudo classes for each custom utlity */
@responsive {
  @variants hover, focus, active {
    /* Debugging */
    .debug {
      border: 1px solid yellow;
      background-color: rgba(255,255,0,0.5);
    }

    .debug-border {
      border: 1px solid yellow;
    }

    .debug-bg {
      background-color: rgba(255,255,0,0.5);
    }

    /* Blur */
    .blur-2 {
      filter: blur(2px);
    }

    .blur-4 {
      filter: blur(4px);
    }

    .blur-5 {
      filter: blur(5px);
    }

    .blur-6 {
      filter: blur(6px);
    }

    .blur-7 {
      filter: blur(7px);
    }

    .blur-8 {
      filter: blur(8px);
    }

    .text-stroke-color-white {
      -webkit-text-stroke-color: theme('colors.white');
      text-stroke-color: theme('colors.white');
    }

    .text-stroke-color-black {
      -webkit-text-stroke-color: theme('colors.black');
      text-stroke-color: theme('colors.black');
    }

    .text-stroke-width-1 {
      -webkit-text-stroke-width: 1px;
      text-stroke-width: 1px;
    }

    .text-stroke-width-1-5 {
      -webkit-text-stroke-width: 1.5px;
      text-stroke-width: 1, 5px;
    }

    .text-stroke-width-2 {
      -webkit-text-stroke-width: 2px;
      text-stroke-width: 2px;
    }

    .text-stroke-width-2-5 {
      -webkit-text-stroke-width: 2.5px;
      text-stroke-width: 2.5px;
    }

    .text-stroke-width-3 {
      -webkit-text-stroke-width: 3px;
      text-stroke-width: 3px;
    }

    .text-stroke-width-4 {
      -webkit-text-stroke-width: 4px;
      text-stroke-width: 4px;
    }

    .text-stroke-width-6 {
      -webkit-text-stroke-width: 6px;
      text-stroke-width: 6px;
    }

    .text-stroke-width-8 {
      -webkit-text-stroke-width: 8px;
      text-stroke-width: 8px;
    }
  }
}
