/**
* @file fonts.css
*/

/* Examples */
/* 
@font-face {
  font-display: auto;
  font-family: 'CaslonAntique';
  font-style: normal !important;
  font-weight: normal !important;
  src: url('/fonts/CaslonAntique.woff2') format('woff2'),
    url('/fonts/CaslonAntique.woff') format('woff'),
    url('/fonts/CaslonAntique.ttf') format('truetype');
}
*/
